{% if inventory_hostname.startswith('spine') %}
router bgp 65000
{% else %}
router bgp {{ 65000 + inventory_hostname[-1]|int }}
{% endif %}
{% for ip in nb_ips.json.results %}
{%	if ip.assigned_object.name|lower == 'loopback0' %}
 bgp router-id {{ ip.address|ipaddr('address') }}
{%	endif %}
{% endfor %}
 bgp log-neighbor-changes
{% for intf in nb_interfaces.json.results %}
{%     	for ip in nb_ips.json.results %}
{%		if ip.assigned_object.name == intf.name %}
{%			if intf.name|lower == 'loopback0' %}
 network {{ ip.address|ipaddr('address') }} mask {{ ip.address|ipaddr('netmask') }}
{%			elif inventory_hostname in ['leaf1', 'leaf5'] and intf.name|lower == 'gigabitethernet0/3' %}
 network {{ ip.address|ipaddr('network') }} mask {{ ip.address|ipaddr('netmask') }}
{%			endif %}
{%		endif %}
{%	endfor %}
{% endfor %}
{% for intf in nb_interfaces.json.results %}
{%     	for ip in nb_ips.json.results %}
{%		if ip.assigned_object.name == intf.name %}
{%			if inventory_hostname.startswith('leaf') %}
{%				if intf.name|lower is in ['gigabitethernet0/1', 'gigabitethernet0/2'] %}
 neighbor {{ ip.address|ipaddr('network') }} remote-as 65000
{%				endif %}
{%				else %}
{%				if intf.name|lower is not in ['gigabitethernet0/0', 'loopback0'] %}
 neighbor {{ ip.address|ipaddr(-1)|ipaddr('address') }} remote-as 6500{{ intf.description[4] }}
{%				endif %}
{%			endif %}
{%		endif %}
{%	endfor %}
{% endfor %}
 maximum-paths 2
!
