{% for intf in nb_interfaces.json.results %}
interface {{ intf.name }}
{%      if intf.description|length %}
 description {{ intf.description|upper }}
{%      endif %}
{% 	if intf.name|lower == 'gigabitethernet0/0' %}
 ip vrf forwarding mgmt
{%	endif %}
{%      for ip in nb_ips.json.results %}
{%              if ip.assigned_object.name == intf.name %}
 ip address {{ ip.address|ipaddr('address') }} {{ ip.address|ipaddr('netmask') }}
{%              endif %}
{%      endfor %}
{%	if intf.enabled == True %}
 no shutdown
{%	else %}
 shutdown
{%	endif %}
{%	if intf.name.startswith('Gigabit') %}
 duplex auto
 speed auto
 media-type rj45
{%	endif %}
!
{% endfor %}
